<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<body>
    <div class="navbar">
        <a class="btn btn-primary" style="margin-left: 10%;" href="/">Home</a>
        <% if (!isLogedIn){ %>
            <a class="btn btn-primary" href="/login">Login</a>

        <% } %>
        <a class="btn btn-primary" href="/upload">Upload</a>
        <a class="btn btn-primary" href="/userVideos">Your Videos</a>
        <a class="btn btn-primary" style="margin-right: 10%;" href="/logout">Logout</a>

    </div>
    
</body>
</html>