<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Itube</title>
</head>
<body>
    <div class="navbar">
        <button class="btn btn-primary" style="margin-left: 10%;">Home</button>
        <button class="btn btn-primary">Login</button>
        <button class="btn btn-primary" style="margin-right: 10%;">Logout</button>

    </div>

    <video class="video" controls muted="muted" autoplay>
        <source type="video/mp4" src="/video?id=<%= id %>">
    </video>
<!-- 
    <script>
        const video = document.querySelector(".video")

        fetch("/stream?id=<%= id %>", {
            method: "post"
        })
        .then(response => {
            if (response.ok){
                return response.text()

            }else{
                console.log("OMG HELL NAHHH")
            }

        })
        .then(videoURL => {
            video.src = videoURL

        })


    </script> -->

</body>
</html>